<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/search/" method="post">
   {% csrf_token %}
      按姓名查询
      <input type="text" name="dname">
      <input type="submit" value="提交">
  </form>
{% if teachers_list %}
  <table>
      <tr><td>院系</td><td>姓名</td><td>职称</td><td>照片</td></tr>
      {% for teacher in teachers_list %}
          <tr>
              <td>
                  {{teacher.department}}
              </td>
              <td>
                  {{teacher.name}}
              </td>
              <td>
                  {{teacher.tittle}}
              </td>
              <td>
                  {{teacher.photo}}
              </td>
          </tr>
      {% endfor %}
  </table>
  {% else %}
      <p>no teachers data</p>
  {% endif %}


</body>
</html>